@keyframes cardSlideIn {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.card {
  // Loop through the cards and delay the loading animation.
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      @include animation(cardSlideIn, 0.8s, 0.1s * $i);
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes highlight {
  from {
    box-shadow: inset 0.01px 0px 0px 0px $primary;
    // opacity: 0;
  }
  to {
    box-shadow: inset 300px 0px 0px 0px $primary;
  }
}
// @keyframes btn-highlight {
//   from {
//     box-shadow: inset 0.01px 0px 0px 0px $black;
//   }
//   to {
//     box-shadow: inset 300px 0px 0px 0px $black;
//   }
// }
// @keyframes card-highlight {
//   from {
//     box-shadow: inset 0px 0.01px 0px 0px $primary;
//   }
//   to {
//     box-shadow: inset 0px -900px 0px 0px $primary;
//   }
// }
