html {
  scroll-behavior: smooth;
  scroll-padding-top: $page-header-height-xs;
  @include media-breakpoint-up(lg) {
    scroll-padding-top: $page-header-height-lg;
  }
}

body {
  background-color: $body-bg;
  color: $body-color;
}

section {
  padding: 80px 0;
  @include media-breakpoint-up(md) {
    padding: 100px 0;
  }
}

dl {
  dd,
  dt {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

blockquote {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.25;
  padding: 20px 30px;
  @include media-breakpoint-up(lg) {
    font-size: 1.3rem;
    padding: 20px;
  }
  footer {
    font-size: 1rem;
    font-weight: 400;
  }
  cite {
  }
}

strong {
  font-weight: 700;
}

textarea {
  height: 150px;
}

input[type="file"] {
  height: 100px;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='1' stroke-dasharray='6%2c 14' stroke-dashoffset='30' stroke-linecap='square'/%3e%3c/svg%3e");
  // seems to be an issue where the right border gets cut off if set to cover or 100%
  background-size: 99.9% auto;
}
