// Selects
.styled-select {
  position: relative;
  font-family: $font-family-base;
  width: auto;
  border-radius: 20px;
  border: 1px solid $gray-600;
  background: $white;
  min-width: 50%;
  padding: 7px;

  select {
    background: transparent;
    border: none;
    color: $gray-600;
    width: 100%;
  }
  &.square-select {
    border-radius: 0;
    padding: 13px 7px;
    margin: 10px 0;
    border: 1px solid $gray-400;
    font-weight: 100;
    select {
      color: $gray-400;
    }
  }
}

// Checklist
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: $gray-600;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid $gray-400;
  border-radius: 0;
  background: $white;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: $secondary;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

// Location Autocomplete
.locationField {
  position: relative;
}
.autocomplete-dropdown-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(100% + 5px);
  box-shadow: 0 0 3px rgba($dark, 0.3);
  z-index: 999;
  .suggestion-item,
  .suggestion-item--active {
    padding: 0.5rem 1rem;
    background-color: $light;
    cursor: pointer;
  }
  .suggestion-item--active {
    background-color: $light;
  }
}

// Quantity Input
.qty-input {
  input.form-control {
    width: 40px;
    text-align: center;
    &:focus {
      box-shadow: inset 0 0 0 0.2rem rgba($primary, 0.25);
    }
  }
}


.gravityform {
  margin-bottom:40px;
  .gform_fields {
    padding:0;
    li{
      list-style:none;
      margin-bottom:10px;
      label{
        font-size:12px;
        text-transform:uppercase;
        font-weight:bold;
        margin-bottom: 0px;
      }
      input, textarea{
        border:1px solid grey;
        width:100%;
        max-width:300px
      }
      textarea{
        height:100px;
      }
    }
    .gravityform__error_message {
      color:red;
      font-size:12px;
    }
  }
  .gform_footer {
    .gravityform__button {
      color:#FFFFFF;
      background-color:darkolivegreen;
      padding:8px 25px;
      font-size:12px;
      text-transform:uppercase;
      font-weight:bold;
      border-radius:5px;
      border:none;
      &:hover{
        background-color:olivedrab;
      }
    }
  }
}