// Checklist
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: $gray-600;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid $gray-400;
  border-radius: 0;
  background: $white;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: $secondary;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

// Location Autocomplete
.locationField {
  position: relative;
}
.autocomplete-dropdown-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(100% + 5px);
  box-shadow: 0 0 3px rgba($dark, 0.3);
  z-index: 999;
  .suggestion-item,
  .suggestion-item--active {
    padding: 0.5rem 1rem;
    background-color: $light;
    cursor: pointer;
  }
  .suggestion-item--active {
    background-color: $light;
  }
}

// Quantity Input
.qty-input {
  input.form-control {
    width: 40px;
    text-align: center;
    &:focus {
      box-shadow: inset 0 0 0 0.2rem rgba($primary, 0.25);
    }
  }
}

.form-group {
  display: flex;
  align-items: flex-start;
  .dropzone {
    width: 100%;
  }
}

.form-hint {
  font-size: 1rem;
  line-height: 1.4rem;
  width: 40%;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  border-left: 4px solid $primary;
  opacity: 0;
  // opacity: 1;
  @include transition();
}

.form-control,
.dropzone {
  &:focus {
    & + .form-hint {
      opacity: 1;
    }
  }
}

.dropzone {
  cursor: pointer;
  .upload-icon {
    width: 32px;
    height: 27px;
    background-image: url(/img/icons/file-upload.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .file-upload {
    background-image: repeating-linear-gradient(
        -21deg,
        #333333,
        #333333 6px,
        transparent 6px,
        transparent 15px,
        #333333 15px
      ),
      repeating-linear-gradient(69deg, #333333, #333333 6px, transparent 6px, transparent 15px, #333333 15px),
      repeating-linear-gradient(159deg, #333333, #333333 6px, transparent 6px, transparent 15px, #333333 15px),
      repeating-linear-gradient(249deg, #333333, #333333 6px, transparent 6px, transparent 15px, #333333 15px);
    background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.select-container {
  width: 100%;
  .select__placeholder {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
  }
  .select__value-container {
    padding: 0;
  }
  .select__control {
    border: 0;
    border-radius: 0;
    background-color: $light;
    color: $black;
    padding: 0.5rem 1.25rem;
  }
  .select__control--is-focused {
    outline: none;
    box-shadow: none;
    border: 0;
    &:hover {
      border: 0;
    }
  }
  .select__menu,
  .select__menu-list {
    border-radius: 0;
    border: 0;
  }
  .select__option {
    text-transform: capitalize;
    &.select__option--is-focused {
      background-color: rgba($primary, 0.5);
    }
    &.select__option--is-selected {
      background-color: rgba($primary, 1);
      color: $black;
    }
  }
}
