#pageHeader {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white;

  z-index: 99;

  @include media-breakpoint-down(lg) {
    .container {
      max-width: 100%;
    }
  }
}

#pageContent {
  // padding-top: $page-header-height-xs;
  // overflow: hidden;
  // background-color: $mid;
  color: $black;
}

#pageFooter {
  background-color: $black;
  .text-mono {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .navbar-nav {
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    .nav-item {
      .nav-link {
        color: $white;
        position: relative;
        display: inline-block;
        margin: 0 0.25rem;
        transition: 0.2s;
      }
    }
    @media (max-width: 990px) {
      flex-direction: column;
      align-items: flex-end;
    }
    @media (max-width: 768px) {
      align-items: flex-start;
      margin-top: 1.5rem;
    }
  }
}
