#pageHeader {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white;

  z-index: 99;

  @include media-breakpoint-down(lg) {
    .container {
      max-width: 100%;
    }
  }
}

#pageContent {
  // padding-top: $page-header-height-xs;
  // overflow: hidden;
  // background-color: $mid;
  color: $black;
}

#pageFooter {
  background-color: $black;
  .nav-link {
    color: $white;
    position: relative;
    border-bottom: none;
    transition: 0.2s;
  }
}
