#mainnav {
  text-align: center;
  padding: 0.5rem 0;
  @include media-breakpoint-down(lg) {
    padding: 0;
  }
  .navbar-brand {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.375rem;
    font-family: "Dela Gothic One", cursive;
    img {
      height: 32px;
      margin: 8px 0;
    }
  }

  .navbar-nav {
    .nav-link {
      position: relative;
      text-transform: uppercase;
      font-size: 1.25rem;
      margin: 1rem auto;
      font-family: "Dela Gothic One", cursive;
      border-bottom: 2px solid transparent;
      border-top: 2px solid transparent;
      @media (min-width: 768px) {
        font-size: 0.875rem;
        margin: auto;
      }
      &:not(.active) {
        color: $black;
        opacity: 1 !important;
      }
      &:active,
      &:hover,
      &.active {
        color: $black;
        @media (min-width: 768px) {
          &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -5px;
            height: 3px;
            width: 100%;
            animation: highlight 1s 0.25s forwards;
          }
        }
      }
      @media (min-width: 820px) {
        margin-left: 1rem;
      }
      @media (min-width: 900px) {
        margin-left: 2rem;
      }
      @media (min-width: 992px) {
        margin-left: 3rem;
      }
    }
  }

  .btn {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem 1.75rem;
    margin: 0 1.5rem;
  }
  .navbar-toggler {
    padding: 0;
    z-index: 1000;
    position: absolute;
    top: 12px;
    right: 0;
    border: 0;
    font-family: "Averta", sans-serif;
    font-weight: 600;
    color: $black;
    // text-transform: uppercase;
    padding-right: 15px;

    &:focus {
      outline: none;
    }
    &.collapsed {
      .navbar-toggler-icon {
        .icon-bar {
          &:nth-of-type(1) {
            top: 10px;
            transform: rotate(0);
          }
          &:nth-of-type(2) {
            top: 16px;
            transform: rotate(0);
          }
          &:nth-of-type(3) {
            top: 22px;
            opacity: 1;
          }
        }
      }
    }

    .navbar-toggler-icon {
      position: relative;
      height: 36px;
      width: 40px;
      padding: 10px;
      background-color: transparent;
      background-image: none;
      border: none;
      overflow: hidden;

      .icon-bar {
        width: 18px;
        height: 2px;
        background-color: $gray-600;
        position: absolute;
        left: 10px;
        z-index: 1000;
        @include transition(0.5s);
        &:nth-of-type(1) {
          top: 16px;
          transform: rotate(45deg);
        }
        &:nth-of-type(2) {
          top: 16px;
          transform: rotate(-45deg);
        }
        &:nth-of-type(3) {
          top: 12px;
          opacity: 0;
        }
      }
    }
  }
}

#primarynav {
}

#mobilenav {
}

#footernav {
}
