body {
  font-size: 16px;
  line-height: 1.25rem;
  font-family: "Averta", sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  line-height: 1.6;
  @include transition();
}

h1,
.h1 {
  font-family: "Dela Gothic One", cursive;
  text-transform: uppercase;
  color: $black;
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 1.75rem;
}

h2,
.h2 {
  font-family: "Dela Gothic One", cursive;
  text-transform: uppercase;
  color: $black;
  font-size: 2.125rem;
}

h3,
.h3 {
  font-family: "Dela Gothic One", cursive;
  text-transform: uppercase;
  font-size: 1.625rem;
}

h4,
.h4 {
  font-family: "Dela Gothic One", cursive;
  text-transform: uppercase;
  font-size: 1.2rem;
}

p {
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.875rem;
  margin-bottom: 1.4rem;
}

em {
  font-style: italic;
}

i {
  letter-spacing: 0;
}
