@font-face {
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DelaGothicOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

body {
  font-size: 16px;
  line-height: 1.25rem;
  font-family: "Averta", sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  line-height: 1.6;
  @include transition();
}

h1,
.h1 {
  font-family: "Dela Gothic One", cursive;
  text-transform: uppercase;
  color: $black;
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 1.75rem;
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

h2,
.h2 {
  font-family: "Dela Gothic One", cursive;
  text-transform: uppercase;
  color: $black;
  font-size: 2.125rem;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

h3,
.h3 {
  font-family: "Dela Gothic One", cursive;
  text-transform: uppercase;
  font-size: 1.4rem;
}

h4,
.h4 {
  font-family: "Dela Gothic One", cursive;
  text-transform: uppercase;
  font-size: 1.2rem;
}

p {
  font-weight: 300;
  font-size: 1.375rem;

  margin-bottom: 1.4rem;
}

em {
  font-style: italic;
}

i {
  letter-spacing: 0;
}

a {
  color: $black;
  position: relative;
  border-bottom: 2px solid $primary;
  &:hover {
    color: $black;
    opacity: 0.6;
  }
}
