// Aspect Ratios
.bg-image,
.bg-video,
.bg-iframe,
.bg-aspect {
  position: relative;
  display: block;
  height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  overflow: hidden;
  &.aspect-1x1 {
    padding-top: 100%;
    video {
      left: -25%;
      height: 100%;
      max-width: none;
      width: auto;
    }
  }
  &.aspect-2x1 {
    padding-top: 50%;
  }
  &.aspect-3x1 {
    padding-top: 33%;
  }
  &.aspect-4x1 {
    padding-top: 25%;
  }
  &.aspect-4x3 {
    padding-top: 75%;
  }
  &.aspect-5x7 {
    padding-top: 140%;
  }
  &.aspect-16x9 {
    padding-top: 56.25%;
  }

  &.aspect-hero {
    padding-top: 43%;
  }

  &.aspect-auto {
    height: auto;
    padding-top: 28vw;
    padding-bottom: 28vw;
  }

  &.aspect-none {
    height: auto;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    z-index: 0;
  }

  .layer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// Sticky behavior
.sticky {
  position: sticky;
  top: 0;
}

// Text utilities
.font-primary {
  font-family: "Dela Gothic One", cursive;
}
.font-secondary {
  font-family: "Averta", sans-serif;
}

.text-bold {
  font-weight: 600;
}

.text-nocase {
  text-transform: none !important;
}

.text-underline {
  text-transform: underline !important;
}

.text-mono {
  font-family: "Roboto Mono";
}

.text-hero {
  font-size: 4rem;
}
.text-small {
  font-size: 1rem;
  p {
    font-size: 1rem;
  }
}
.callout {
  border-left: 0.5rem solid $primary;
  padding-left: 20px;
}

.highlighter {
  padding: 0 8px;
  margin: auto 5px;
  position: relative;
  animation: highlight 0.75s 0.5s forwards cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.back-btn {
  color: $black;
  font-family: "Dela Gothic One", cursive;
  text-transform: uppercase;
  font-size: 0.875rem;
  position: relative;
  padding-left: 12px;
  border-bottom: none;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 5px solid $primary;
    transition: 0.2s;
  }
  &:hover {
    color: $primary;
    &::before {
      transform: translateX(-5px);
    }
  }
}

// Layout Utilities
.bg-fill {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-full {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-half {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-third {
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

// Interesting layout solution for responsive elements
.threesome {
  display: flex;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
  @include media-breakpoint-up(sm) {
    padding: 0;
  }
  @include media-breakpoint-up(xl) {
    margin-right: -30px;
    margin-left: -30px;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    flex: 0 0 100%;
    max-width: 100%;
    background: transparent;
    @include media-breakpoint-up(xl) {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(33.33333% - 30px);
      margin-left: 15px;
      margin-right: 15px;
    }
    .card-content {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      @include media-breakpoint-up(xl) {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        flex: 0;
        justify-content: space-between;
        align-items: stretch;
        &.pin-footer {
          flex: 1;
        }
        .card-header {
          flex: initial;
        }
        .card-body {
          flex: auto;
        }
        .card-footer {
          flex: initial;
        }
      }
    }
    .card-header {
      flex: 0 0 100%;
      max-width: 100%;
      background-color: transparent;
      border: 0;

      @include media-breakpoint-up(sm) {
        flex: 0 0 33%;
        max-width: 33%;
      }
      @include media-breakpoint-up(lg) {
        padding: 15px;
      }
      @include media-breakpoint-up(xl) {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .content {
        padding: 0;
        // padding: 3rem 0;
        text-align: center;
        @include media-breakpoint-up(sm) {
          padding: 0;
        }
        img {
          width: 75%;
          max-width: 100%;
          height: auto;
        }
      }
    }
    .card-body {
      max-width: 100%;
      flex: 1 1 auto;
      padding: 1.25rem;
      @include media-breakpoint-up(sm) {
        flex: 0 0 66%;
        max-width: 66%;
      }
      @include media-breakpoint-up(xl) {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .content {
        @include media-breakpoint-up(xl) {
          text-align: center;
        }
      }
    }
    .card-footer {
      width: 100%;
      padding: 0 1.25rem;
      border: 0;
      background-color: transparent;
      .btn {
        width: 100%;
      }
      @include media-breakpoint-up(md) {
        .btn {
          width: auto;
        }
      }
    }
  }
}

.foursome {
  display: flex;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    flex: 0 0 100%;
    max-width: 100%;
    background: transparent;
    @include media-breakpoint-up(xl) {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(25% - 30px);
      margin-left: 15px;
      margin-right: 15px;
    }
    .card-content {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      @include media-breakpoint-up(xl) {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        flex: 0;
        justify-content: space-between;
        align-items: stretch;
        &.pin-footer {
          flex: 1;
        }
        .card-header {
          flex: initial;
        }
        .card-body {
          flex: auto;
        }
        .card-footer {
          flex: initial;
        }
      }
    }
    .card-header {
      display: flex;
      align-items: center;
      flex: 0 0 100%;
      max-width: 100%;
      height: 100%;
      background-color: transparent;
      border: 0;
      @include media-breakpoint-up(sm) {
        flex: 0 0 25%;
        max-width: 25%;
      }
      @include media-breakpoint-up(xl) {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .content {
        padding: 3rem 0;
        text-align: center;
        @include media-breakpoint-up(sm) {
          padding: 0;
        }
        img {
          width: 50%;
          max-width: 100%;
          height: auto;
          @include media-breakpoint-up(sm) {
            width: 75%;
          }
        }
      }
    }
    .card-body {
      max-width: 100%;
      flex: 1 1 auto;
      padding: 1.25rem;
      @include media-breakpoint-up(sm) {
        flex: 0 0 75%;
        max-width: 75%;
      }
      @include media-breakpoint-up(xl) {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .content {
        @include media-breakpoint-up(xl) {
          text-align: center;
        }
      }
    }
    .card-footer {
      width: 100%;
      padding: 0 1.25rem;
      border: 0;
      background-color: transparent;
    }
  }
}

// Checklist
.checklist {
  list-style-type: none;
  padding-left: 0;
  li {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-bottom: 25px;
  }
  i {
    font-weight: 800;
    position: relative;
    display: inline-block;
    z-index: 10;
    font-size: 29px;
    margin-right: 5px;
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 1px;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: $white;
      border: 2px solid $gray-600;
      z-index: -1;
    }
  }
}

// Loading Animation
.loader {
  color: $white;
  font-size: 14px;
  position: relative;
  &::before {
    position: absolute;
    left: -20px;
    content: "\EE61";
    font-family: "remixicon" !important;
    @include animation(spin, 1.2s);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

// Cards
.card {
  height: 100%;
  .btn-close {
    background-color: $primary;
    border-radius: 100px;
    padding: 0.5rem;
    transition: 0.2s;
    align-self: flex-end;
    margin-bottom: -15px;
    margin-right: -15px;
    opacity: 0.8;
    &:hover {
      transform: scale(1.1);
    }
  }
  .card-body {
    padding: 0px;
    box-shadow: 2px 3px 24px #0000001d;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    cursor: pointer;
    .card-date {
      font-size: 0.875rem;
      color: $gray-700;
      text-align: right;
      margin: 1rem 1.5rem -1.25rem 0rem;
    }
    .card-image {
      height: 150px;
      overflow: hidden;
    }
    .card-company {
      font-size: 1rem;
      font-weight: 300;
      padding: 2rem 1.75rem 0rem 1.75rem;
      margin-bottom: -2rem;
      color: $black;
    }
    .card-title {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 2rem 1.75rem 0rem 1.75rem;
      margin-bottom: 0px;
      color: $black;
    }
    .card-text {
      font-size: 1.125rem;
      padding: 1rem 1.75rem;
      color: $black;
    }
    .card-link {
      padding: 1rem 1.5rem;
      font-size: 0.875rem;
      display: block;
      margin-top: auto;
      width: 100%;
      color: $black;
      background-color: $primary;
      font-family: "Dela Gothic One", cursive;
      text-transform: uppercase;
      text-align: center;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      z-index: -1;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      height: 100%;
      width: 100%;
      transform: translateY(100%);
      transition: 0.5s;
      // box-shadow: inset 0px 0.01px 0px 0px $primary;
      background-color: $primary;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 47px;
      margin: 0 auto;
      height: 2px;
      width: 88%;
      box-shadow: inset 0.01px 0px 0px 0px $black;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &:hover {
      &::before {
        // animation: card-highlight 1.5s forwards;
        transform: translateY(0);
      }
      &::after {
        animation: btn-highlight 1s 0.25s forwards;
      }
    }
  }
}

.fullheight {
  height: 80vh;
  display: flex;
  align-items: center;
}

.list-icon {
  min-width: 50px;
  max-width: 50px;
}
.icon-list {
  list-style: none;
  padding-left: 0px;
  .gatsby-image-wrapper {
    margin-right: 1rem;
  }
  li {
    display: flex;
    align-items: center;
    font-family: "Averta", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: none;
    margin: 1.5rem 0;
  }
}

.list-primary {
  list-style: none;
  li {
    align-items: center;
    font-family: "Averta", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: none;
    margin: 1.5rem 0;
    position: relative;
    &::before {
      content: "\2022";
      color: $primary;
      font-weight: bold;
      display: inline-block;
      width: 1rem;
      margin-left: -1rem;
      font-size: 2rem;
      position: absolute;
      top: 0px;
    }
  }
}

.tag {
  color: $dark;
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 0.875rem;
  border-radius: 8px;
  margin-right: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  background-color: $gray-200;
  margin-bottom: 1rem;
}

.tab-nav-link {
  color: $black;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Averta", sans-serif !important;
  text-transform: capitalize !important;
  list-style: none;
  position: relative;
  margin: 0.5rem 1.5rem;
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
  &:hover,
  &:focus {
    color: $black;
    text-decoration: none;
    opacity: 1;
    &::before {
      content: "";
      animation: none !important;
    }
  }
  &.react-tabs__tab--selected {
    background-color: transparent;
    opacity: 1;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 8px solid $primary;
      position: absolute;
      bottom: -0.75rem;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.magnify {
  button {
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
  }
}
