.team-wrapper {
  h2 {
    color: $white;
  }
}

#aboutNav {
  position: fixed;
  .nav {
    flex-direction: column;
    .nav-link {
      color: $white;
      font-family: "Dela Gothic One", cursive;
      text-transform: uppercase;
      font-size: 0.875rem;
      padding-bottom: 1.5rem;
      &.active {
        color: $primary;
      }
    }
  }
}
